services:
  server:
    image: prom/prometheus:latest
    container_name: prometheus_server_1
    user: '1000:1000'
    ports:
      - '9090:9090'
    volumes:
      - ${APP_DATA_DIR}/prometheus-data:/prometheus
      - ${APP_DATA_DIR}/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    restart: unless-stopped