version: "3.7"

services:
  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    pid: host
    ports:
      - "9100:9100"
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:9100/metrics"]
      interval: 30s
      timeout: 5s
      retries: 3
