version: "1.0"

services:
  app_proxy:
    environment:
      # The format here is: <app-id>_<docker-service-name>_1
      APP_HOST: prometheus_server_1
      APP_PORT: 9090
      container_name: prometheus_app_proxy_1
  server:
    image: prom/prometheus:latest
    container_name: prometheus_server_1
    #volumes:
    #  - ${APP_DATA_DIR}/prometheus-data:/prometheus
    #  - ${APP_DATA_DIR}/prometheus-data:/etc/prometheus/prometheus.yml:ro
    restart: unless-stopped