version: "1.0"

services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    #volumes:
    #  - ${APP_DATA_DIR}/prometheus-data:/prometheus
    #  - ${APP_DATA_DIR}/prometheus-data:/etc/prometheus/prometheus.yml:ro
    restart: unless-stopped
