global:
  scrape_interval: 15s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets:
          - "localhost:9090"
  - job_name: "node"
    static_configs:
      - targets:
          - "192.168.1.179:9100"
  - job_name: 'bitaxe_exporter'
    # The exporter is accessible on the host's IP on port 8000.
    static_configs:
      - targets:
          - '192.168.1.179:7979'